div {
    display:flex;
    border: solid;
    background-color: aliceblue;
    flex: auto;
}

.row {
    background-color: beige;
}

.container {
    border: solid;
    height: 85vh;
    width: 760px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
}

.row-On {
    background-color: black;
}