div {
    display: flex;
    border: solid;
    background-color: aliceblue;
    flex: auto;
}

.container {
    border: solid;
    height: 75vh;
    width: 50vh;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
}
